source activate struct_robustness

# We need the baseline directory quite frequently
export PROJECT_ROOT=$PWD

# We need access to other tools
export PYTHONPATH=$PROJECT_ROOT/submodules/respy:$PYTHONPATH
export PYTHONPATH=$PROJECT_ROOT:$PYTHONPATH

# Adding bin directory
export PATH=$PROJECT_ROOT/bin:$PATH

# configurations
export MATPLOTLIBRC=$OV_PROJECT/configurations
export JUPYTER_CONFIG_DIR=$OV_PROJECT/configurations/jupyter
export IPYTHONDIR=$OV_PROJECT/configurations/ipython
export TEST_RESOURCES=$OV_PROJECT/test_adapter/resources

