[submodule "submodules/respy"]
	path = submodules/respy
	url = https://github.com/OpenSourceEconomics/respy.git
	branch = peisenha_robustness
[submodule "submodules/robupy"]
	path = submodules/robupy
	url = https://github.com/OpenSourceEconomics/robupy.git
